
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/style_K/Style_home.css" rel="stylesheet" />

<link href="~/Content/style_K/Style_silder.css" rel="stylesheet" />


<section class="banner-section">
    <div class="slider">
        <div class="slides">
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner1.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner2.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner3.jpg" style="width:1200px;height:450px">
            </div>
        </div>

        @*Nút điều hướng*@
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        @*dau cham*@
        <div class="dots"></div>
    </div>
</section>
<script src="~/Content/js/js_banner.js"></script>



<section class="product-section">
                                                                   @*IPHONE*@
    <h2><a href="/Default/TrangIphone">Iphone</a></h2>
    <div class="product-list">
        <a href="/Product/Iphon17" class="product-card">
            @*<div class="Tag New">Mới</div>*@

            <img src="~/Content/img/b1.png" alt="Alternate Text" />

            <h3>iPhone 17 </h3>
            <p class="price">34.999.000đ</p>
           
        </a>

        <a href="/Product/IphoneAir" class="product-card">
            @*<div class="Tag Sale">Giảm 0%</div>
                <div class="Tag New">Mới</div>*@

            <img src="~/Content/img/0049406_iphone-air-256gb_240.png" alt="Alternate Text" />

            <h3>iPhone Air</h3>
            <p class="price">31.999.000đ <span class="old-price">34.999.000đ</span></p>
        </a>

        <a href="/Product/Iphone12Promax" class="product-card">

            @*<div class="Tag Sale">Giảm 0%</div>
                <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/x/media/catalog/product/d/o/download_2__1_27.png" alt="Alternate Text" />

            <h3>iPhone 12 Pro Max</h3>
            <p class="price">23.490.000đ <span class="old-price">27.999.000đ</span></p>
        </a>
    </div>
    <div class="view-all">
        <a href="/Default/TrangIphone" class="btn-view">Xem tất cả iPhone </a>

    </div>
</section>
                                                                             @*SAMSUNG*@
<section class="product-section">
    <h2><a href="/Default/Samsung">SamSung</a></h2>

    <div class="product-list">
        <a href="/Product/S25Ultra" class="product-card">
            @*<div class="Tag New">Mới</div>*@
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-samsung-galaxy-s25-ultra_3__3.png"
                 alt="Samsung Galaxy S25 Ultra 12GB 256GB" />

            <h3>Samsung S25 Ultra </h3>
            <p class="price">28.990.000đ</p>
        </a>

        <a href="/Product/S24Plus" class="product-card">
            @*<div class="Tag Sale">Giảm 0%</div>
                <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/g/a/galaxy-s24-plus-tim.png"
                 alt="Samsung Galaxy S24 Plus 12GB 256GB" />

            <h3>Samsung Galaxy S24 Plus</h3>
            <p class="price">16.699.000đ</p>
        </a>

        <a href="/Product/ZFold7_G" class="product-card">

            @*<div class="Tag Sale">Giảm 0%</div>
                <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-z-fold-7-xanh.jpg"
                 alt="Samsung Galaxy Z Fold7 12GB 256GB" />

            <h3>Samsung Galaxy Z Fold7</h3>
            <p class="price">42.999.000đ</p>
        </a>
    </div>
    <div class="view-all">
        <a href="/Default/Samsung" class="btn-view">Xem tất cả Samsung </a>

    </div>
</section>

                                                                               @*XIAOMI*@
<section class="product-section">
    <h2><a href="/Default/Xiaomi">Xiaomi</a></h2>

    <div class="product-list">
        <a href="/Product/Xiaomi_11T" class="product-card">
            @*<div class="Tag New">Mới</div>*@
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-mi-11t-1_1_2_1_1_2_1.jpg"
                 alt="Xiaomi Mi 11T 8GB 128GB - Cũ Xước Cấn" />

            <h3>Xiaomi Mi 11T </h3>
            <p class="price">3.990.000đ</p>
        </a>

        <a href="/Product/Xiaomi_14T_Pro" class="product-card">
            @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi_14t_pro_1_.png"
                 alt="Xiaomi 14T Pro 12GB 512GB" />

            <h3>Xiaomi 14T Pro</h3>
            <p class="price">14.390.000đ</p>
        </a>

        <a href="/Product/Xiaomi_15" class="product-card">

            @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/m/image_1262703569.jpg"
                 alt="Xiaomi 15 5G 12GB 512GB" />

            <h3>Xiaomi 15 5G</h3>
            <p class="price">21.990.000đ</p>
        </a>
    </div>
    <div class="view-all">
        <a href="/Default/Xiaomi" class="btn-view">Xem tất cả Xiaomi </a>

    </div>
</section>

                                                                         @*OPPO*@

<section class="product-section">
    <h2><a href="/Default/Oppo">Oppo</a></h2>

    <div class="product-list">
        <a href="/Product/Oppo_Find_N3" class="product-card">

            @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/f/i/find_n3_-_combo_product_-_gold.png"
                 alt="OPPO Find N3 16GB 512GB" />
            <h3>Oppo Find N3</h3>
            <p class="price">26.900.000₫</p>
        </a>

        <a href="/Product/Oppo_Find_N5" class="product-card">

            @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-oppo-find-n5_h_nh_2.png"
                 alt="OPPO FIND N5" />

            <h3>Oppo Find N5</h3>
            <p class="price">45.900.000₫</p>
        </a>

        <a href="/Product/Oppo_Find_X8" class="product-card">

            @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-oppo-find-x8-xam-1.png"
                 alt="OPPO Find X8 16GB 512GB" />
            <h3>Oppo Find X8</h3>
            <p class="price">21.545.000₫</p>
        </a>

    </div>
    <div class="view-all">
        <a href="/Default/Oppo" class="btn-view">Xem tất cả Oppo </a>

    </div>
</section>




