
@{
    ViewBag.Title = "Oppo";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCon.css" rel="stylesheet" />

<link href="~/Content/style_K/Style_silder.css" rel="stylesheet" />

@*   breadcrumb     *@
<nav class="breadcrumb">
    <a href="/Default/Index">Trang chủ </a>> <span>Oppo</span>
</nav>
@*banner*@

<section class="banner-section">
    <div class="slider">
        <div class="slides">
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner iP17pro-ĐC2_Danh mục.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner1.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/danh mục-ip.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/danh mục-ip_Danh mục copy 3.png" style="width:1200px;height:450px">
            </div>
        </div>

        @*Nút điều hướng*@
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        @*Dấu chấm*@
        <div class="dots"></div>
    </div>
</section>

@*Sản Phẩm Của Trang*@

<section class="product-grid">

    <a href="/Product/Oppo_A18" class="product-card">
        @*<div class="Tag New">Mới</div>*@
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-a18-den.png"
             alt="OPPO A18 4GB 128GB" />

        <h3>Oppo A18</h3>
        <p class="price">3.190.000₫</p>
    </a>

    <a href="/Product/Oppo_A58" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-a58-den.jpg"
             alt="OPPO A58 4G 6GB 128GB" />
        <h3>Oppo A58 4G</h3>
        <p class="price">4.090.000₫</p>
    </a>

    <a href="/Product/Oppo_A5i" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-a5i-4gb-128gb-do-tim.jpg"
             alt="OPPO A5i 4GB 128GB" />

        <h3>Oppo A5i</h3>
        <p class="price">3.990.000₫</p>
    </a>

    <a href="/Product/Oppo_A79" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-a79-tim.png"
             alt="OPPO A79 5G 8GB 256GB" />
        <h3>Oppo A79 5G</h3>
        <p class="price">6.800.000₫</p>
    </a>

    <a href="/Product/Oppo_Find_N3" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/f/i/find_n3_-_combo_product_-_gold.png"
             alt="OPPO Find N3 16GB 512GB" />
        <h3>Oppo Find N3</h3>
        <p class="price">26.900.000₫</p>
    </a>

    <a href="/Product/Oppo_Find_N5" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-oppo-find-n5_h_nh_2.png"
             alt="OPPO FIND N5" />

        <h3>Oppo Find N5</h3>
        <p class="price">45.900.000₫</p>
    </a>

    <a href="/Product/Oppo_Find_X8" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-oppo-find-x8-xam-1.png"
             alt="OPPO Find X8 16GB 512GB" />
        <h3>Oppo Find X8</h3>
        <p class="price">21.545.000₫</p>
    </a>

    <a href="/Product/Oppo_Reno_10_Pro_Plus" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-reno10-pro-plus-tim.png"
             alt="OPPO Reno10 Pro+ 5G 12GB 256GB" />
        <h3>Oppo Reno10 Pro+ 5G</h3>
        <p class="price">10.500.000₫</p>
    </a>

    <a href="/Product/Oppo_Reno_12_F" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/t/e/text_ng_n_4__6_73.png"
             alt="OPPO Reno12 F 5G 8GB 256GB" />

        <h3>Oppo Reno12 F 5G</h3>
        <p class="price">7.200.000₫</p>
    </a>

    <a href="/Product/Oppo_Reno_13_F" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-oppo-reno13f-5g_3_.png"
             alt="OPPO Reno13 F 5G 12GB 256GB" />

        <h3>Oppo Reno13 F 5G</h3>
        <p class="price">9.990.000₫</p>
    </a>

    <a href="/Product/Oppo_Reno_14_F" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-reno14-f-w.jpg"
             alt="OPPO Reno14 F 5G 8GB 256GB" />

        <h3>Oppo Reno14 F 5G</h3>
        <p class="price">10.320.000đ</p>
    </a>
</section>
