
@{
    ViewBag.Title = "TrangIphone";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/style_K/Style_TrangCon.css" rel="stylesheet" />

<link href="~/Content/style_K/Style_silder.css" rel="stylesheet" />

@*   breadcrumb     *@
<nav class="breadcrumb">
    <a href="/Default/Index">Trang chủ </a>> <span>Iphone</span>
</nav>
@*banner*@

<section class="banner-section">
    <div class="slider">
        <div class="slides">
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner iP17pro-ĐC2_Danh mục.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner1.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/danh mục-ip.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/danh mục-ip_Danh mục copy 3.png" style="width:1200px;height:450px">
            </div>
        </div>

         @*Nút điều hướng*@ 
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

         @*Dấu chấm*@ 
        <div class="dots"></div>
    </div>
</section>
<script src="~/Content/js/js_banner.js"></script>
@* Best seller*@
@*<div class="iphone-series">
    <a href="#" class="series-btn">iPhone 17 series</a>
    <a href="#" class="series-btn">iPhone 16 series</a>
    <a href="#" class="series-btn">iPhone 15 series</a>
    <a href="#" class="series-btn">iPhone 14 series</a>
    <a href="#" class="series-btn">iPhone 12 series</a>
</div>*@
@*product dung grid de chia ra tung 1fr hinh tuy thuoc vao ddo co dang cua mang hinh*@

@*SẢN PHẨM CỦA TRANG*@
<section class="product-grid">

    <a href="/Product/Iphon17" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone_17_256gb-3_2.jpg"
             alt="iPhone 17 256GB" />

        <h3>iPhone 17 256GB</h3>
        <p class="price">34.999.000đ</p>
    </a>

    <a href="/Product/IphoneAir" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
        <div class="Tag New">Mới</div>*@
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:300/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_air-3_2.jpg"
             alt="iPhone Air 256GB | Chính hãng" />
        <h3>iPhone Air</h3>
        <p class="price">31.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>

    <a href="/Product/Iphone12Promax" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/x/media/catalog/product/d/o/download_2__1_27.png" alt="Alternate Text" />

        <h3>iPhone 12 Pro Max</h3>
        <p class="price">23.490.000đ <span class="old-price">27.999.000đ</span></p>
    </a>

    <a href="/Product/Iphone15" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/x/media/catalog/product/i/p/iphone-15-plus_1__1.png" alt="Alternate Text" />

        <h3>iPhone 15</h3>
        <p class="price">16.490.000đ <span class="old-price">19.999.000đ</span></p>
    </a>

    <a href="/Product/Iphone17Promax" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-17-pro-max_1.jpg" alt="iPhone 17 Pro Max 256GB Cam Vũ Trụ" />


        <h3>iPhone 17 Pro Max</h3>
        <p class="price">33.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>

    <a href="/Product/Iphone16Pro" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-pro.png"
             alt="iPhone 16 Pro 256GB | Chính hãng VN/A - 1" />


        <h3>iPhone 16 Pro </h3>
        <p class="price">27.999.000đ <span class="old-price">28.999.000đ</span></p>
    </a>

    <a href="/Product/Iphone13" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13_2_2.jpg"
             alt="iPhone 13 128GB | Chính hãng VN/A - 1" />


        <h3>iPhone 13 </h3>
        <p class="price">11.999.000đ <span class="old-price">13.999.000đ</span></p>
    </a>

    <a href="/Product/Iphone15Plus" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-plus_1_.png"
             alt="iPhone 15 Plus 128GB | Chính hãng VN/A - 1" />


        <h3>iPhone 15 Plus</h3>
        <p class="price">16.999.000đ</p>
    </a>

    <a href="/Product/Iphone14" class="product-card">

        @*<div class="Tag Sale">Giảm 0%</div>
        <div class="Tag New">Mới</div>*@

        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-14_2_1.jpg"
             alt="iPhone 14 128GB  | Chính hãng VN/A - 1" />


        <h3>iPhone 14</h3>
        <p class="price">13.999.000đ</p>
    </a>

</section>

