<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style_K/Style_Layout.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar">
        @*banner ben goc trai*@
        <div class="nav-left">
            <a href="/Default/Index">
                <img src="~/Content/img/logo-removebg-preview.png" style="height:50px;"/> 
            </a>
        </div>
        @*center*@
        <div class="nav-center">
            @*option*@
            <select class="category">
                <option value="value">All</option>
                <option value="value">Iphone</option>
                <option value="value">Mac</option>
                <option value="value">Watch</option>
                <option value="value">Ipad</option>
            </select>
            <input type="text" placeholder="search...." />
            <button class="search-btn"><i class="fas fa-search"></i></button>
        </div>
        @*right*@
        <div class="nav-right">

            <div class="btn-right">
                <i class="fas fa-shopping-cart"></i>
                <a href="/Default/Cart">Cart</a>
            </div>
            <div class="btn-right" style="padding-right:15px">
                <i class="far fa-user"></i>
                <a href="/Default/UserLogin">User</a>
            </div>
            
        </div>
    </header>
    <nav id="subnav">
        <ul>
            <li><a href="/Default/TrangIphone">Iphone</a></li>
            <li><a href="/Default/TrangMac">Mac</a></li>
            <li><a href="/Default/TrangWatch">Watch</a></li>
            <li><a href="/Default/TrangIpad">Ipad</a></li>
            @*<li><a href="">Mussic </a></li>*@
            @*<li><a href="">Camera  </a></li>*@
            @*<li><a href="">Accessory </a></li>*@

        </ul>

    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="info-footer">
        <div class="info-card">
            <h3>Chăm sóc khách hàng</h3>
            <ul>
                <li><a href="#">Hotline: 23232 23232</a></li>
                <li><a href="#">Email:mkla1252006@gmail.com</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
            </ul>
        </div>

        <div class="info-card">
            <h3>Thông tin</h3>
            <ul>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
    </footer>
    <a href="#"><img src="~/Content/img/2.jpeg" style="width:100%" /></a>
    <footer class="footer">
        <div class="footer-top">
            <div class="footer-col">
                <img src="~/Content/img/logo-removebg-preview.png" style="height:50px;" />
                <p>Năm 2020, Shop trở thành đại lý ủy quyền của Apple. Chúng tôi phát triển chuỗi cửa hàng tiêu chuẩn và Apple Mono Store nhằm mang đến trải nghiệm tốt nhất về sản phẩm và dịch vụ của Apple cho người dùng Việt Nam</p>
            </div>
            <div class="footer-col">
                <p>Information</p>
                <p>New Feed</p>
                <p>Check IMEI</p>
                <P>Phuong thuc thanh toan</P>
                <p>Thue diem ban le</p>
                <p>Tuyen Dung</p>
            </div>
            <div class="footer-col">
                <p>Information</p>
                <p>New Feed</p>
                <p>Check IMEI</p>
                <P>Phuong thuc thanh toan</P>
                <p>Thue diem ban le</p>
                <p>Tuyen Dung</p>
            </div>
            <div class="footer-col">
                <p>Information</p>
                <p>New Feed</p>
                <p>Check IMEI</p>
                <P>Phuong thuc thanh toan</P>
                <p>Thue diem ban le</p>
                <p>Tuyen Dung</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                © 2016 Công ty Cổ Phần Awtich Việt Nam GPDKKD: 0824279756 do Sở KH & ĐT cali cấp ngày 08/06/2052.
                Địa chỉ: 407/30,Su Van Hang,P12,Q10,TPHCM
                Đại diện pháp luật: Awtich | ĐT: 0299.999.9999 | Email: lienhe@shopAwtich.com
            </p>
        </div>
    </footer>
</body>
</html>
