
@{
    ViewBag.Title = "IpadA16";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCuThe.css" rel="stylesheet" />
<section class="container">
    @*Hình ảnh sản phẩm*@
    <div class="product-image">
        <img src="~/Content/img/0035754_ipad-a16-11-inch-wi-fi_240.png">
    </div>

    @*Thông tin sản phẩm*@
    <div class="product-info">
        <h1>Ipad A16</h1>
        <p class="price">17.490.000₫ <span class="old-price">27.990.000₫</span></p>
        <p class="vat">(Đã bao gồm VAT)</p>

        <div class="section">
            <h3>Dung lượng</h3>
            <div class="options">
                <button class="option active">128GB</button>
                <button class="option">256GB</button>
                <button class="option">512GB</button>
            </div>
        </div>

        <div class="section">
            <h3>Màu sắc</h3>
            <div class="colors">

                <span class="color black"></span>
                <span class="color red active"></span>
                <span class="color blue"></span>
                <span class="color yellow"></span>
            </div>
        </div>
        <button class="buy-btn" onclick="window.location.href='cart.html'">MUA NGAY</button>
    </div>
</section>


