
@{
    ViewBag.Title = "Iphone16Pro";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCuThe.css" rel="stylesheet" />
<section class="container">
    @*Hình ảnh sản phẩm*@
    <div class="product-image">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-pro.png"
             alt="iPhone 16 Pro 256GB | Chính hãng VN/A - 1" />
    </div>

    @*Thông tin sản phẩm*@
    <div class="product-info">
        <h1>Iphone 16 Pro</h1>
        <p class="price">27.999.000₫ @*<span class="old-price">28.999.000₫</span>*@</p>
        <p class="vat">(Đã bao gồm VAT)</p>

        <div class="section">
            <h3>Dung lượng</h3>
            <div class="options">
                <button class="option active">128GB</button>
                <button class="option">256GB</button>
                <button class="option">512GB</button>
            </div>
        </div>

        @*<div class="section">
                <h3>Màu sắc</h3>
                <div class="colors">

                    <span class="color black"></span>
                    <span class="color red active"></span>
                    <span class="color blue"></span>
                    <span class="color yellow"></span>
                </div>
            </div>*@

        <div class="section">
            <h3>Ưu đãi</h3>
            <ul class="offers">
                <li>Giảm 200.000đ khi thanh toán qua VNPAY.</li>
                <li>Hỗ trợ trả góp 0% lãi suất.</li>
                <li>Ốp lưng chính hãng giảm 990.000đ khi mua kèm.</li>
                <li>Thu cũ đổi mới – trợ giá lên đến 1.000.000đ.</li>
            </ul>
        </div>

        <button class="buy-btn">MUA NGAY</button>
    </div>
    <script src="~/Content/js/Cart_JS.js"></script>
</section>

