
@{
    ViewBag.Title = "Oppo_Reno_14_F";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCuThe.css" rel="stylesheet" />
<section class="container">
    @*Hình ảnh sản phẩm*@
    <div class="product-image">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/o/p/oppo-reno14-f-w.jpg"
             alt="OPPO Reno14 F 5G 8GB 256GB" />
    </div>

    @*Thông tin sản phẩm*@
    <div class="product-info">
        <h1>Oppo Reno14 F 5G</h1>
        <p class="price">10.320.000₫ </p>
        <p class="vat">(Đã bao gồm VAT)</p>

        <div class="section">
            <h3>Dung lượng</h3>
            <div class="options">

                <button class="option active">8GB 256GB</button>

            </div>
        </div>

        <div class="section">
            <h3>Ưu đãi</h3>
            <ul class="offers">
                <li>Giảm 200.000đ khi thanh toán qua VNPAY.</li>
                <li>Hỗ trợ trả góp 0% lãi suất.</li>
                <li>Ốp lưng chính hãng giảm 990.000đ khi mua kèm.</li>
                <li>Thu cũ đổi mới – trợ giá lên đến 1.000.000đ.</li>
            </ul>
        </div>

        <button class="buy-btn">MUA NGAY</button>
    </div>
            <script src="~/Content/js/Cart_JS.js"></script>
</section>


